<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>
      From The Api
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let photo of photos">
      <img [src]="photo.thumbnailUrl" />
      <ion-card-content>
        <ion-text>
          {{ photo.title }}
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
